set number
set noerrorbells
set incsearch

inoremap jj <Esc>

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Action mappings
let mapleader = " "

nmap <leader>fa  :action GotoAction<CR>
nmap <leader>fc  :action GotoClass<CR>
nmap <leader>ff  :action GotoFile<CR>
nmap <leader>ft  :action FindInPath<CR>

nmap <leader>lf   :action ReformatCode<CR>
nmap <leader>lb   :action ToggleLineBreakpoint<CR>
nmap <leader>lr   :action RenameElement<CR>

nmap <leader>s   :action Switcher<CR>
