set number
set noerrorbells
set incsearch
set scrolloff=5

" highlight copied text
Plug 'machakann/vim-highlightedyank'

" file tree navigation
Plug 'preservim/nerdtree'

" useful remaps
inoremap jj <Esc>

let mapleader = " "

" function keys
map <f9>  :action Debug<CR>
map <f10> :action Run<CR>

" search
map <leader>sa :action GotoAction<CR>
map <leader>sc :action GotoClass<CR>
map <leader>sf :action GotoFile<CR>
map <leader>sg :action FindInPath<CR>

nmap <leader>ss :action FileStructurePopup<CR>

vmap / "yy :execute '/' . @y<CR>

" buffer
nmap <leader>bv :action SplitVertically<CR>
nmap <leader>bh :action SplitHorizontally<CR>
nmap <leader>bf :action EditSourceInNewWindow<CR>
nmap <c-w>r :action MoveEditorToOppositeTabGroup<CR>
nmap <c-w>q :action Unsplit<CR>

" tool windows
nmap <leader>tf :action ActivateTerminalToolWindow<CR>
nmap <leader>tb :action JumpToLastWindow<CR>
nmap <leader>tg :action CheckinProject<CR>
nmap <leader>ts :action ActivateBuildToolWindow<CR>

" navigation
nmap gd :action GotoDeclaration<CR>
nmap gI :action GotoImplementation<CR>
nmap gr :action FindUsages<CR>
nmap gs :action GotoSuperMethod<CR>

nmap ]i :action GotoNextError<CR>
nmap [i :action GotoPreviousError<CR>

" code actions
map  <leader>cf :action ReformatCode<CR>
map  <leader>ca :action ShowIntentionActions<CR>
nmap <leader>cb :action ToggleLineBreakpoint<CR>
nmap <leader>cr :action Run<CR>

" completion
imap <C-y> :action EditorChooseLookupItem<CR>
imap <C-n> :action EditorDown<CR>
imap <C-p> :action EditorUp<CR>

" find files in project view
nmap <leader>fl :action SelectInProjectView<CR>
nmap <leader>fe :action ActivateProjectToolWindow<CR>
nmap <leader>fs :action ActivateStructureToolWindow<CR>

" bazel
nmap <leader>bc :action Blaze.EditProjectView<CR>
nmap <leader>bc :action Bazel.OpenProjectViewFile<CR>
nmap <leader>bb :action Blaze.OpenCorrespondingBuildFile<CR>
nmap <leader>bb :action Bazel.JumpToBuildFile<CR>
nmap <leader>bs :action Blaze.FullSyncProject<CR>
nmap <leader>bs :action Bazel.BuildAndResyncAction<CR>

" yank
map P "+p 
vmap Y "+y
nmap <leader>yr :action CopyReference<CR> :let @" = @+ <CR>

" utils
nmap <leader><leader> :action Switcher<CR>
nmap <leader>rn       :action RenameElement<CR>