set number
set noerrorbells
set incsearch

inoremap jj <Esc>

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Action mappings
let mapleader = " "

map <leader>sa :action GotoAction<CR>
map <leader>sc :action GotoClass<CR>
map <leader>sf :action GotoFile<CR>
map <leader>sg :action FindInPath<CR>

nmap <leader>bv :action SplitVertically<CR>
nmap <leader>bh :action SplitHorizontally<CR>

nmap gI :action GotoImplementation<CR>
nmap gr :action FindUsages<CR>
nmap gs :action GotoSuperMethod<CR>

map <leader>cf :action ReformatCode<CR>
nmap <leader>ca :action ShowIntentionActions<CR>
nmap <leader>cb :action ToggleLineBreakpoint<CR>
nmap <leader>cr :action CompileFile<CR>

nmap <leader><leader> :action Switcher<CR>
nmap <leader>rn       :action RenameElement<CR>
vmap Y "+y

imap <S-C-space> <C-o>:action AIAssistant.Editor.CompleteCodeWithAI<CR>a
